# Visual Studio cache folder
.vs/

# Build output folders
bin/
obj/

# User-specific files
*.user
*.suo

# Rider IDE files
.idea/

# Mac system files
.DS_Store

# Other
*.log

# Environment variables
.env